body {
    font-family:      monospace;
    background-color: #000;
    margin:           0;
    overflow:         hidden;
}

#info {
    color:      #FFF;
    opacity:    0.75;
    position:   absolute;
    top:        10px;
    width:      100%;
    text-align: center;
    z-index:    100;
    display:    block;
}
